<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> --- Here is a demo image --- </h2>
    <div class="image">
        <img src="C:\Users\DELL\Desktop\Screenshot 2024-02-08 150302.png">
    </div>

</body>

<style>
    body{
        background-color: black;
    }

    h2{
        height: 100px;
        width: 200px;
        size: 80px;
        text-decoration: underline;
        background-color: grey;
        color: crimson;
        border: 10 px solid yellow;
        border-radius: 25px;
        padding: 20px;
        
    }

    .image{
        height: 800px;
        width: 800px;
    }

</style>
</html>
